body {
    font-family: 'helvetica', sans-serif;
    color: #525252;
    user-select: none;
}

.container {
    width: 360px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
}

.bpm-display {
    text-align: center;
    font-weight: bold;
    
}

.bpm-display .tempo {
    font-size: 3.8em;
    color: #142;
}

.tempo-text {
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    color: #142;
}


.tempo-settings .adjust-tempo-btn {

   
    font-size: 25px;
    border-radius: 0%;

    text-align: center;
    cursor: pointer;

    color: #fff;
}
.tempo-settings .adjust-tempo-btn:hover {
    background: #fa545c;
    color: #fff;
    text-align: center;

}
.tempo-settings .decrease-tempo {
    line-height: 53px;
}
.tempo-settings .increase-tempo {
    line-height: 53px;
}

input[type=range] {
    -webkit-appearance: none;
    background: #fff;
    width: 100%;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fa545c;
    cursor: pointer;
    margin-top: -7px;
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fa545c;
    cursor: pointer;
    border: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    margin-top: 29px;
    background: #bbb;
}

input[type=range]::-moz-range-track {
    width: 2px;
    margin-top: 24px;
    background: #bbb;
}

.start-stop {
    
    font-size: 1.2em;
    text-align: center;

    border-radius: 0%;
    border: 2px solid #fff;
    color: #fff;
    
    cursor: pointer;
}

.drone-stop {
    
    font-size: 1.2em;
    text-align: center;

    border-radius: 0%;
    border: 2px solid #fff;
    color: #fff;
    line-height: 60px;
    cursor: pointer;
}


.setBPM {

    font-size: 1.2em;
    text-align: center;

    border-radius: 0%;
    border: 2px solid #fff;
    color: #fff;
    line-height: 60px;
    cursor: pointer;
    
}

.setDrone {

    font-size: 1.2em;
    text-align: center;

    border-radius: 0%;
    border: 2px solid #fff;
    color: #fff;
    line-height: 60px;
    cursor: pointer;
    
}

.d1 {
    background: #134;
    border: 2px solid #fff;
    height: 60px;
    line-height: 56px;
    text-align: center;
}

.m1 {
    background: #142;
    border: 2px solid #fff;
    height: 60px;
    line-height: 56px;
    text-align: center;
}

.m11 {
    background: #142;
    border: 2px solid #fff;
    height: 60px;
    line-height: 56px;
    text-align: center;
}

.d2 {
    background: #379;
    border: 2px solid #fff;
    height: 60px;
    line-height: 56px;
    text-align: center;
}

.m2 {
    background: #395;
    border: 2px solid #fff;
    height: 60px;
    line-height: 56px;
    text-align: center;
}

.start-stop:hover {
    background: #ff656c;
}

.stop-drone:hover {
    background: #ff656c;
}

.setBPM:hover  {
    background: #ff656c;
}

.setDrone:hover {
    background: #ff656c;
}







